{% macro assets() %}
      
      <img id="icon-arrow" src="assets/icons/arrow.png" />

            <a-mixin id="gaze-arrow" position="0 0 -4" 
      material="src: #icon-arrow; shader:standard; emissive: #aaa; transparent: true; opacity: 0.6;" 
      geometry="primitive: plane; width: 0.5; height: 0.5;"></a-mixin>
      
{% endmacro %}

      {% macro render() %}
      

      <a-entity position="0 -1.6 0">
            <a-entity camera position="0 1.6 0" look-controls="pointerLockEnabled: false;">


                  <a-entity id="cursor" position="0 0 -1" 
                  geometry="primitive: ring; radiusOuter: 0.016; radiusInner: 0.01; segmentsTheta: 32"
                  material="color: #760CE8; shader: flat; opacity: 0.8" 

                  cursor="" 
                  bind__cursor="rayOrigin: rayOrigin; fuse: isMobile; fuseTimeout: fuseTimeout"
                  raycaster="autoRefresh: false;" 
                  bind__raycaster="objects: cursorObjects; interval: raycasterInterval"
                  
                  bind__visible="cursorVisible && isMobile" 
                  >
                  
                  <a-animation begin="click" easing="ease-in" attribute="scale"
                  fill="forwards" from="0.2 0.2 0.2" to="1 1 1" dur="150"></a-animation>
                  <a-animation begin="fusing" easing="ease-in" attribute="scale"
                  fill="backwards" from="1 1 1" to="0.2 0.2 0.2" dur="1500"></a-animation>

                  </a-entity>
                  

            <a-text color="#555" 
                  font="mozillavr"
                  cursor-text bind__cursor-text="code: selectedCode; 
                  layer: layer; 
                  menuVisible: menuVisible; exploreEnabled: explore" width="4"></a-text>

            </a-entity>
      </a-entity>

{% endmacro %}
